<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
</head>
<body>
    <header>
        <a href="{% url 'polls:index' %}">Home</a>
        {% if user.is_authenticated %}
            <strong>{{ user.username }}</strong>
            <a href ="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href ="{% url 'login' %}">Login</a>
            <a href ="{% url 'signup' %}">Signup</a>
        {% endif %}
    </header>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
        <button type="submit">Login</button>
        </p>
        <input type="hidden" name="next" value="{{next}}"/>
    </form>
</body>
</html>