<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <header>
    <ul>
        <li><a href="{% url 'polls:index' %}">Home</a></li>
        {% if user.is_authenticated %}
            <li><strong class="name">{{ user.username }}</strong></li>
            <li><a href ="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href ="{% url 'login' %}">Login</a></li>
            <li><a href ="{% url 'signup' %}">Signup</a></li>
        {% endif %}
    </ul>
    </header>

    {% if messages %}
        <div class="alert-error">
            {% for msg in messages %}
                <div>
                    <strong>{{ msg }}</strong>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if latest_question_list %}
        <ul>
            <table>
                <tr>
                    <th>Poll question</th>
                    <th>Result of question</th>
                </tr>
                {% for question in latest_question_list %}
                <tr>
                    <td class="poll"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
                    <td><a class="button" href="{% url 'polls:results' question.id %}">Show Result</a></td>
                </tr>
                {% endfor %}
            </table>
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>

